@CHARSET "UTF-8";

#label1 {
	word-wrap: break-word;
	word-break: break-all;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
	margin-top: 90px;
	font-family: Microsoft YaHei;
	text-align: center;
	font-size: xx-large;
}

#label2 {
	word-wrap: break-word;
	word-break: break-all;
	display: block;
	width: 70%;
	font-size: medium;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	font-family: Microsoft YaHei;
	text-align: left;
}

#bdiv {
	text-align: center;
}

#btn {
	width: 80px;
	margin-top: 40px;
	margin-bottom: 20px;
}