@CHARSET "UTF-8";

.contianer {
	width: 70%;
	margin-top: 90px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
}

.red {
	color: #e74c3c;
}

.warn {
	text-align: center;
	color: #e74c3c;
}