<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TravelManagement</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>cn.sdu.travel.web.filter.EncodeFilter</filter-class>
	</filter>
	<filter>
		<filter-name>SessionCheckFilter</filter-name>
		<filter-class>cn.sdu.travel.web.filter.SessionCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>SessionCheckFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
		<url-pattern>/servlet/*</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyUserInfoServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.ModifyUserInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/servlet/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyUserInfoServlet</servlet-name>
		<url-pattern>/servlet/ModifyUserInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApplyAbroad</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.ApplyAbroadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ModifyPassportInfoServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.ModifyPassportInfoServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ShowApplicationServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.ShowApplicationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyAbroad</servlet-name>
		<url-pattern>/apply.html</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModifyPassportInfoServlet</servlet-name>
		<url-pattern>/servlet/ModifyPassportInfoServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowApplicationServlet</servlet-name>
		<url-pattern>/servlet/ShowApplicationServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>NavigationServlet</servlet-name>
		<servlet-class>cn.sdu.travel.web.servlet.NavigationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>NavigationServlet</servlet-name>
		<url-pattern>/servlet/NavigationServlet</url-pattern>
	</servlet-mapping>
</web-app>